/* Your custom styles */
#info{
    margin-top: 10%
}
#space {
    margin-top: 5%
}
li {
    display: inline-block;
}
.table-wrapper-2 {
    display: block;
    max-height: 300px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}